In [43]:
import pandas as pd
import numpy as np

In [44]:
df = pd.read_csv('../data/startup_funding.csv')

In [45]:
df.drop(columns=['Remarks'], inplace=True)

In [46]:
df.head()

,Sr No,Date dd/mm/yyyy,Startup Name,Industry Vertical,SubVertical,City Location,Investors Name,InvestmentnType,Amount in USD
0,1,09/01/2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000"
1,2,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394"
2,3,09/01/2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860"
3,4,02/01/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000"
4,5,02/01/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000"

In [47]:
df.set_index('Sr No', inplace=True)

In [48]:
df.rename(columns={
    'Date dd/mm/yyyy':'date',
    'Startup Name':'startup',
    'Industry Vertical':'vertical',
    'SubVertical': 'subvertical',
    'City  Location': 'city',
    'Investors Name':'investors',
    'InvestmentnType':'round',
    'Amount in USD':'amount'
}, inplace=True)

In [49]:
df.head()

,date,startup,vertical,subvertical,city,investors,round,amount
Sr No,,,,,,,,
1,09/01/2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,"20,00,00,000"
2,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,"80,48,394"
3,09/01/2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,"1,83,58,860"
4,02/01/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,"30,00,000"
5,02/01/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,"18,00,000"

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3044 entries, 1 to 3044
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         3044 non-null   object
 1   startup      3044 non-null   object
 2   vertical     2873 non-null   object
 3   subvertical  2108 non-null   object
 4   city         2864 non-null   object
 5   investors    3020 non-null   object
 6   round        3040 non-null   object
 7   amount       2084 non-null   object
dtypes: object(8)
memory usage: 214.0+ KB

In [51]:
df['amount']=df['amount'].fillna('0')

In [52]:
df['amount']=df['amount'].str.replace(',','')

In [53]:
df['amount']=df['amount'].str.replace('undisclosed','0')
df['amount']=df['amount'].str.replace('unknown','0')
df['amount']=df['amount'].str.replace('Undisclosed','0')

In [54]:
df=df[df['amount'].str.isdigit()]

In [55]:
df['amount']=df['amount'].astype('float')

In [56]:
df.head()

,date,startup,vertical,subvertical,city,investors,round,amount
Sr No,,,,,,,,
1,09/01/2020,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,200000000.0
2,13/01/2020,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,8048394.0
3,09/01/2020,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,18358860.0
4,02/01/2020,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,3000000.0
5,02/01/2020,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,1800000.0

In [57]:
def to_inr(dollar):
    inr = dollar * 82.5
    return inr/10000000

In [58]:
df['amount']=df['amount'].apply(to_inr)

In [65]:
df['date']=df['date'].str.replace('05/072018','05/07/2018')

In [67]:
df['date']=df['date'].str.replace('01/07/015', '01/07/2015')

In [ ]:
df['date']=df['date'].str.replace('.', '/')

In [73]:
df['date']=df['date'].str.replace('//', '/')

In [74]:
df['date']=pd.to_datetime(df['date'], dayfirst=True)

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3029 entries, 1 to 3044
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         3029 non-null   datetime64[ns]
 1   startup      3029 non-null   object
 2   vertical     2858 non-null   object
 3   subvertical  2104 non-null   object
 4   city         2849 non-null   object
 5   investors    3005 non-null   object
 6   round        3027 non-null   object
 7   amount       3029 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(6)
memory usage: 213.0+ KB

In [77]:
df.sample(10)

,date,startup,vertical,subvertical,city,investors,round,amount
Sr No,,,,,,,,
1314,2016-10-19,Fisdom,Consumer Internet,Personal Wealth Management Platform & App,Bangalore,"Saama Capital, Raghunandan G, Aprameya Radhakr...",Private Equity,9.07500
1,2020-01-09,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,1650.00000
895,2017-04-17,Snackible,Food & Beverages,Healthy Snacks manufacturer,Mumbai,"Nibhrant Shah, Anandbir Singh, Anirudh Sheth, ...",Seed Funding,1.44375
1330,2016-10-26,The Kettlery,eCommerce,Online Tea Etailer,Ahmedabad,"hooting Starts Sports LLP, Franchise India Brands",Private Equity,8.25000
2418,2015-09-15,MoEngage,Mobile Marketing Automation Platform,NaN,Bangalore,"Helion Venture Partners, Exfinity Ventures",Private Equity,35.06250
1996,2016-02-25,OfBusiness,eCommerce,B2B commerce Marketplace,Gurgaon,Matrix Partners India,Private Equity,41.25000
926,2017-03-01,Belong,Consumer Internet,Online Jon Portal,Bangalore,Sequoia Capital India,Private Equity,82.50000
2777,2015-05-12,Plancess,Online Education Platform,NaN,Mumbai,"Rajendra Gogri,\\xc2\\xa0 Chandrakant Gogri",Seed Funding,16.50000
2701,2015-06-10,Guiddoo,Travel Guide Mobile App,NaN,Mumbai,"Pawan Borle, SVP Fly Dubai & Others",Seed Funding,0.00000
1209,2016-11-10,Tone Tag,Technology,Contactless Payment Solution,Bangalore,"Arun Seth, T.V. Mohandas Pai, Anand Chandrasek...",Private Equity,0.00000

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3029 entries, 1 to 3044
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         3029 non-null   datetime64[ns]
 1   startup      3029 non-null   object
 2   vertical     2858 non-null   object
 3   subvertical  2104 non-null   object
 4   city         2849 non-null   object
 5   investors    3005 non-null   object
 6   round        3027 non-null   object
 7   amount       3029 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(6)
memory usage: 213.0+ KB

In [80]:
df = df.dropna(subset=['date', 'startup', 'vertical', 'city', 'investors', 'round', 'amount'])

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2823 entries, 1 to 2873
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         2823 non-null   datetime64[ns]
 1   startup      2823 non-null   object
 2   vertical     2823 non-null   object
 3   subvertical  2078 non-null   object
 4   city         2823 non-null   object
 5   investors    2823 non-null   object
 6   round        2823 non-null   object
 7   amount       2823 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(6)
memory usage: 198.5+ KB